* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

th {
  font-size: 1.8rem;
}

td {
  font-size: 1.8rem;
}


/* .App {
  height: 100vh;
} */

.navbar_ nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 3%;
  background-color: orange;
  color: white;

}


.navbar_ nav .nav_item_desktop {
  display: block;
  list-style: none;
  display: flex;
  justify-content: space-around;

}

.navbar_ nav ul a {
  text-decoration: none;
  padding: 5px;
  color: white;
  font-size: 1.5rem;


}

/* .navbar nav ul a:active {
  border-bottom: 1px solid white;
  background-color: gray;
  border-radius: 10px;
} */


.navbar_ nav ul a:hover {
  border-bottom: 1px solid white;
  background-color: gray;
  border-radius: 10px;
}

.navbar_ nav .burger_menü {
  display: none;
  border: 2px solid white;
  text-align: center;
  padding: 1px 4px;
  border-radius: 5px;
}

.navbar_ nav .burger_menü i {
  font-size: 3rem;
}



.mobile_navlist {
  display: none;
  transition: all 0.4s linear;
}


.main {
  text-align: center;
  padding-bottom: 10vh;

}

.product_detail {
  border: 1px solid gray;
  border-radius: 10px;
  width: 40%;
  margin: 5vh auto;
  text-align: center;
  overflow: hidden;

}

.product_detail img {
  width: 100%;
  height: 300px;

}

.product_card {
  width: 250px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px grey;
  border-radius: 25px;
  padding: 5px;
}

.popup_container {
  position: absolute;
  top: 30%;
  left: 33%;
  background-color: white;
  border: 1px solid gray;
  padding: 20px;
  width: 33%;
  border-radius: 25px;
  text-align: center;
}

.search_container form {
  width: 50%;
  margin: 4vh auto;
}

.search_container form input {
  width: 80%;
  height: 30px;
  padding: 5px;
  border: none;
  border: solid 1px gray;
  border-radius: 10px 0 0 10px;
}

.search_container form button {
  width: 20%;
  height: 30px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 0 10px 10px 0;
}

.compare_container {
  display: flex;
  width: 60%;
  margin: 2vh auto;
}

.footer_container {
  text-align: center;
  background-color: orange;
  color: white;
  padding: 2vh 0;
}

.register_container {
  text-align: center;
}

.spinner-grow {
  width: 5rem;
  height: 5rem;
}

@media only screen and (max-width: 600px) {


  .navbar_ nav .nav_item_desktop {
    display: none;
  }

  .navbar_ nav .burger_menü {
    display: block;
  }

  .mobile_navlist {
    display: block;
    transition: all 0.4s linear;
  }



  .nav_item_mobile {
    list-style: none;
    padding: 1vh 3%;
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid white;


  }

  .nav_item_mobile li {
    border-bottom: 1px solid white;

  }

  .nav_item_mobile a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.4s linear;

  }


  .search_container form {
    width: 70%;
    margin: 4vh auto;

  }

  .search_container form button {
    width: 20%;
    height: 30px;
    border: none;
    background-color: blue;
    color: white;

  }

  .product_card {
    width: 100%;
  }

  .compare_container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: 2vh auto;
  }

  .product_detail {
    width: 90%;
  }

  h3 {
    font-size: 1.5rem;
  }

  th {
    font-size: 1.3rem;
  }

  td {
    font-size: 1.3rem;
  }

  .popup_container {

    top: 40%;
    left: 10%;

    width: 80%;

  }


}